body {
  max-width: 72em;
  margin: auto;
  padding: 0 1em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #ea5906;
}

.category {

  &-title {

  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    > * {
      flex-basis: 33.33%;
    }
  }
}
