$orange: #ea5906;
$blue: #104E99;
$yellow: #EA9206;
$green: #049970;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  max-width: 72em;
  margin: auto;
  padding: 0 1em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: $orange;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  &-title {
    margin: 0;

  }
}

.nav {
  flex-grow: 1;
  display: flex;
  flex-basis: 400px;

  &-items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    list-style: none;
    align-items: stretch;
    justify-content: flex-end;
  }
  &-item {
    &:first-child {
      display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100px;
    text-align: center;
  }
  &-link {
    padding: 1em;
  }
}

.category {
  border: 1px solid lighten($yellow, 40%);
  &[data-category="videos"]{
    border: 1px solid lighten($blue, 40%);
  }
  &[data-category="tools"]{
    border: 1px solid lighten($green, 40%);
  }
  margin-bottom: 2em;

  &-title {
    margin: 0 0 .5em;
    border-bottom: 1px solid lighten($orange, 45%);
    padding: .5em;
    background: $orange;
    color: white;
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
    [data-category="articles"] &{
      background: $yellow;
    }
    [data-category="videos"] &{
      background: $blue;
    }
    [data-category="tools"] &{
      background: $green;
    }
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    > * {
      @media (min-width: 33em) {
          flex-basis: 31.3333%;
      }
      margin: 0 1%;
      padding: 1em;
      border: 1px solid rgba(#000, .05);
      background: lighten($orange, 70%);
      margin-bottom: 1em;
      min-width: 15em;
      position: relative;
      &:hover,
      &:focus {
        color: white;
        a {
          color: white;
          display: block;
        }
        [data-category="articles"] &{
          background: $yellow;
        }
        [data-category="videos"] &{
          background: $blue;
        }
        [data-category="tools"] &{
          background: $green;
        }
      }

      h3 {
        margin-top: 0;
      }
    }
  }
}


/// Learn VRT Banner

.learn-vrt {
  display: flex;
  background: $orange;
  padding: .5em 1em;
  margin-bottom: 2em;
  &-copy {
    font-size: 1em;
    flex-grow: 1;
    margin: 0 1em 0 0;
    align-self: center;
    color: white;
  }
  &-link {
    color: white;
    border: 1px solid white;
    display: block;
    align-self: center;
    padding: .7em;
  }
}
