<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{site.title}} - {{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon"
        type="image/png"
        href="/assets/img/favicon.ico">
  </head>
  <body>
    <header>
      <h1><a href="/">{{site.title}}</a></h1>
      {% include 'partials/navigation.html' %}
    </header>

    <main>
      {% block body %}

      {% endblock %}
    </main>

    <footer>
      <h1>Follow Along:</h1>
      <nav>
        <ul>
          <li><a href="https://github.com/visualregressiontesting/visualregressiontesting.com">Github</a></li>
          <li><a href="/rss.xml">RSS</a></li>
        </ul>
      </nav>
    </footer>

    {% if serve %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
    </body>
  </html>
