<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{site.title}} - {{ title }}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon"
        type="image/png"
        href="/assets/img/favicon.ico">
  </head>
  <body>
    <header class="header">
      <h1 class="header-title"><a href="/">{{site.title}}</a></h1>
      {% include 'partials/navigation.html' %}
    </header>

    <main>
      {% block body %}

      {% endblock %}
    </main>

    <footer>
      <p>If you want to help out, check out <a href="https://github.com/visualregressiontesting/visualregressiontesting.com">the site's GitHub repo</a>.</p>
      <p><a href="/rss.xml">Follow along our RSS feed</a></p>
    </footer>

    {% if serve %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73669210-2', 'auto');
      ga('send', 'pageview');

    </script>
    </body>
  </html>
