<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{site.title}} - {{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon"
        type="image/png"
        href="/assets/img/favicon.ico">
  </head>
  <body>
    <header class="header">
      <h1 class="header-title"><a href="/">{{site.title}}</a></h1>
      {% include 'partials/navigation.html' %}
    </header>

    <main>
      {% block body %}

      {% endblock %}
    </main>

    <footer>
      <p>If you want to help out, check out <a href="https://github.com/visualregressiontesting/visualregressiontesting.com">the site's GitHub repo</a>.</p>
      <p><a href="/rss.xml">Follow along our RSS feed</a></p>
    </footer>

    {% if serve %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
    </body>
  </html>
