{% extends 'extends/base.html' %}



{#
  Set category titles for homepage and internal pages.
  Can't do page by page due to needing titles on homepage .
  Key matches category value on individual page. Homepage is category "all"
  loop through all categories to populate homepage or individual page
  Set href on homepage, but not on inside page
  Call unique group listing page. Markup differs for each category
#}

{% block body %}

{% if category == 'all' %}
{% include "partials/learn-vrt.html" %}
{% endif %}

  {% for item in categories %}
    {% if category == item.collection or category == 'all' %}
      <section class="category" data-category="{{item.collection}}">
        {% if category == 'all' %}
          <h2 class="category-title">
            <a href="{{item.collection}}.html">{{item.title}}</a>
          </h2>
        {% else %}
          <h2 class="category-title">{{item.title}}</h2>
        {% endif %}
        <div class="category-items">
            {% include "partials/" + item.collection + "-list.html" %}
        </div>
      </section>
    {% endif %}
  {% endfor %}

{% endblock %}
